.main-container{
  display: flex;
  flex-direction: column;
  .form-title{
    margin: 1% 2.5%;
  }
  .form{
    display:flex;
    .form-group{
      margin: 1% 2.5%;
    }
  }
  .map-container{
    align-self:flex-start;
    margin: 1% 2%;
  }
}

